*{
    margin: 0;
    padding: 0;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* navbar related style */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 92px;
    background-color: #1A0B2E;
}

.nav-link{
    display: flex;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.nav-item{
    list-style: none;
    margin-right: 20px;
}

.logo{
    color: #FFFFFF;
    font-size: 3rem;
}

.wave{
    color: purple
    
}

button{
    width: 135px;
    height: 44px;
    font-size: 16px;
    color: #FFFFFF;
    background: var(--Linear, linear-gradient(47.64deg, rgba(200, 250, 63, 1),rgba(251, 9, 180, 1),rgba(150, 0, 280, 1)));
    border-radius: 10000px;
    border: none;
}

/* banner related style */

.hero{
    border: 1px solid palegreen;
    width: 100%;
    height: 760px;
}

.hero .banner{
    border: 1px solid red;
    width: 550px;
    height: 170px;
    margin-top: 100px;
}