*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* navbar related style */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 92px;
    background-color: #1A0B2E;
}

.nav-link{
    display: flex;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.nav-item{
    list-style: none;
    margin-right: 20px;
}

.logo{
    color: #FFFFFF;
    font-size: 3rem;
}

.wave{
    color: purple
    
}

button{
    width: 180px;
    height: 44px;
    font-size: 16px;
    color: #FFFFFF;
    background: linear-gradient(47.64deg, rgba(200, 250, 63, 1),rgba(251, 9, 180, 1),rgba(150, 0, 280, 1));
    border-radius: 10000px;
    border: none;
}



/* banner related style */

.container .hero{
    height: 780px;
    border: 1px solid rgb(20, 2, 20);
    background-color: #1A0B2E;
    background-image: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.small-btn p{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #00FF88;
    width: 70px;
    height: 30px;
    align-items: center;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-radius: 600px;
    margin-left: 1010px;
    
    
}



.container .circle img{
    
    width: 430px;
    height: 430px;
    margin-top: -650px;
    margin-left: 737px;
    margin-bottom: 200px;
    
}

.container .mic img{
    
    width: 150px;
    height: 220px;
    margin-left: 877px;
    margin-top: -600px;
    margin-bottom: 328px;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24;
    
}

.banner h2{
    font-size: 3.2rem;
    font-weight: 800;
    padding-bottom: 10px;
    color: #FFFFFF;
}

.banner p{
    font-size: 1rem;
    color: #FFFFFF;
}

.container .banner-btn{

    display: flex;
    gap: 10px;
    font-size: 1rem;
    padding-left: 780px;
    margin-top: 50px;
}

.container .subscribe-btn{
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
}


.hero .banner{
    width: 550px;
    height: 100px;
    margin-top: 540px;
    margin-left: 680px;
    margin-bottom: -40px;
}






/* main section related style */

.podcast .podcast-banner{
    width: 100%;
    height: 650px;
    padding-top: 40px;
    background-color: #1A0B2E;
}

.podcast .podcast-container{
    border: 1px solid #1A0B2E;
    width: 1200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 335px;
    padding-left: 20px;
}

.podcast-container h2{
    font-size: 3.5rem;
    font-weight: 700;
    color: #FFFFFF;

}

.podcast-container p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;

}

.podcast-banner hr{
    width: 1200px;
    height: 0;
    margin-left: 340px;
    margin-top: 50px;
    
}


.podcast-banner .rating-container{
    width: 1200px;
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 340px;
    margin-top: 100px;
    padding-top: 10px;
    
    
}


.rating-container .Listeners h2{
    font-size: 2.8rem;
    color: #00FF88;
    text-align: center;
}
.rating-container .Listeners p{
    font-size: 1rem;
    color: #FFFFFF;
}

.rating-container .Episodes-Published h2{
    font-size: 2.8rem;
    color: #00FF88;
    text-align: center;
}
.rating-container .Episodes-Published p{
    font-size: 1rem;
    color: #FFFFFF;
}

.rating-container .Average-Rating h2{
    font-size: 2.8rem;
    color: #00FF88;
    text-align: center;
}
.rating-container .Average-Rating p{
    font-size: 1rem;
    color: #FFFFFF;
}

.rating-container .industry-experts h2{
    font-size: 2.8rem;
    color: #00FF88;
    text-align: center;
}
.rating-container .industry-experts p{
    font-size: 1rem;
    color: #FFFFFF;
}





.TechWave-items{
    background-color: #230E3D;
}

.techwave-container{
    
    display: grid;
    gap: 55px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 150px);
    padding-left: 340px;
    padding-top: 60px;
    background-color: #230E3D;
    
}

.TechWave-items .TechWave-heading h2{
   
    position: relative;
    padding-left: 325px;
    padding-top: 30px;
    margin-left: 328px;
    max-width: 1200px;
    height: 58px;
    font-size: 3rem;
    font-weight: 700;
    background-color: #230E3D;
    color: #FFFFFF;
    
}

.headphone{
    
    grid-column: span 1;
    grid-row: span 2;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    height: 387px;
    border-radius: 40px;
    background-color: #351165;
}

.device{
    
    grid-column: span 2;
    grid-row: span 1;
    padding-top: 25px;
    padding-left: 20px;
    height: 180px;
    border-radius: 40px;
    background-color: #351165;
}

.location{
    
    grid-column: span 2;
    grid-row: span 1;
    padding-top: 25px;
    padding-left: 20px;
    height: 180px;
    border-radius: 40px;
    background-color: #351165;
}

.Exclusive{
   
    grid-column: span 2;
    grid-row: span 1;
    padding-top: 18px;
    padding-left: 20px;
    height: 220px;
    border-radius: 40px;
    background-color: #351165;
    border: none;
    
}

.resource{
    
    grid-column: span 1;
    grid-row: span 1;
    height: 220px;
    padding-top: 22px;
    padding-left: 20px;
    border-radius: 40px;
    background-color: #351165;
    border: none;
    
}


/* Why Choose TechWave items related style */
.headphone h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 10px;
}
.headphone p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #eee6e6;
    padding-top: 10px;
}

.device h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 10px;
}
.device p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #eee6e6;
    padding-top: 10px;
}

.location h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 10px;
}
.location p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #eee6e6;
    padding-top: 10px
}

.Exclusive h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 10px;
}
.Exclusive p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #eee6e6;
    padding-top: 10px;
}

.resource h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 10px;
}
.resource p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #eee6e6;
    padding-top: 10px;
}





/* video container related style */

.bg-colour{
    background-color: #1A0B2E;
    width: 100%;
    height: 750px;
    
}



.featured h2{
    /* border: 1px solid darkgreen; */
    width: 500px;
    text-align: center;
    margin-top: -50px;
    margin-left: 660px;
    padding-top: 80px;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    
    
}

.video-items{
    display: flex;
    justify-content: space-around;
    width: 1100px;
    height: 450px;
    margin-top: 50px;
    margin-left: 360px;
    

}

.video-items .item-1{
    /* border: 1px solid red; */
    width: 352px;
    height: 480px;
    background-color: #250D44;
    border-radius: 10px;
    
}

.video-items .item-2{
    /* border: 1px solid red; */
    width: 352px;
    height: 480px;
    background-color: #250D44;
    border-radius: 10px;
}

.video-items .item-3{
    /* border: 1px solid red; */
    width: 352px;
    height: 480px;
    background-color: #250D44;
    border-radius: 10px;

}



/* video radius related style */
.item-1 iframe{
    border-radius: 10px;
}
.item-2 iframe{
    border-radius: 10px;
}
.item-3 iframe{
    border-radius: 10px;
}


/* items related style */
/* item 1 */
.item-1 h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 5px;
    padding-left: 10px;

}
.item-1 p{
    font-size: 1rem;
    font-weight: 100;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 5px;
    padding-left: 10px;

}
.item-1 span{
    color: #00FF88;
    font-weight: 400;
}
.item-1 img{
    padding-top: 2px;
}



/* item 2 */
.item-2 h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 5px;
    padding-left: 10px;
}
.item-2 p{
    font-size: 1rem;
    font-weight: 100;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 5px;
    padding-left: 10px;

}
.item-2 span{
    color: #00FF88;
    font-weight: 400;
}
.item-2 img{
    padding-top: 2px;
}



/* item 3 */
.item-3 h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 5px;
    padding-left: 10px;
}
.item-3 p{
    font-size: 1rem;
    font-weight: 100;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 5px;
    padding-left: 10px;

}
.item-3 span{
    color: #00FF88;
    font-weight: 400;
}
.item-3 img{
    padding-top: 2px;
}






/* host related style */
.host-bg{
    background-color: #1A0B2E;
    height: 500px;
}




.host-section{
    max-width: 1200px;
    margin: 80px auto;
    text-align: center;
    background-color: #1A0B2E;

}

.host-section h2 {
  font-size: 42px;
  margin-bottom: 50px;
  margin-top: -90px;  
  color: #FFFFFF;
}


.host-card {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 40px;
  border-radius: 25px;
  border: 1px solid rgba(100, 80, 255, 0.4);
  background-color: #250D44
}

.host-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #4f46e5;
}

.host-content {
   
  width: 1000px; 
  text-align: left;
}

.host-content h3 {
  font-size: 1.75rem;
  margin-bottom: 10px;
  color: #FFFFFF;
}


.host-content p {
  /* color: #cfcfe6; */
  line-height: 1.7;
  max-width: 950px;
  color: #FFFFFF;
  font-weight: 100;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 5px;
}

.social-icons a {
  
  width: 50px;
  height: 50px;
  color: #a182ca;
  border-radius: 50%;
  display: grid;
  place-items: center;
  text-decoration: none;
  background-color: transparent;
  font-weight: bold;
}









/* footer related style */
.footer{
    border: 1px solid rgb(2, 12, 68);
    background-image: url("assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.footer-content {
  text-align: center;
  position: relative;
  z-index: 2;
}

.footer .footer-content h2 {
  color: #FFFFFF;
  width: 1200px;
  font-size: 3.5rem;
  margin-bottom: 20px;
  margin-top: 160px;
  margin-left: 350px;
  
  
}

.footer-content h2 span {
  color: #793265;
}

.platforms {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.platforms img {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-content p {
  font-size: 14px;
  color: #FFFFFF;
}


