*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* navbar related style */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 92px;
    background-color: #1A0B2E;
}

.nav-link{
    display: flex;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.nav-item{
    list-style: none;
    margin-right: 20px;
}

.logo{
    color: #FFFFFF;
    font-size: 3rem;
}

.wave{
    color: purple
    
}

button{
    width: 180px;
    height: 44px;
    font-size: 16px;
    color: #FFFFFF;
    background: linear-gradient(47.64deg, rgba(200, 250, 63, 1),rgba(251, 9, 180, 1),rgba(150, 0, 280, 1));
    border-radius: 10000px;
    border: none;
}



/* banner related style */

.container .hero{
    height: 780px;
    border: 1px solid rgb(20, 2, 20);
    background-color: #1A0B2E;
    background-image: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.container .circle img{
    /* border: 1px solid greenyellow; */
    width: 430px;
    height: 430px;
    margin-top: -650px;
    margin-left: 745px;
    margin-bottom: 200px;
    
}

.container .mic img{
    /* border: 1px solid greenyellow; */
    width: 150px;
    height: 220px;
    margin-left: 885px;
    margin-top: -600px;
    margin-bottom: 328px;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24;
    
}

.banner h2{
    font-size: 3.2rem;
    font-weight: 800;
    padding-bottom: 10px;
    color: #FFFFFF;
}

.banner p{
    font-size: 1rem;
    color: #FFFFFF;
}

.container .banner-btn{
    /* border: 1px solid rgb(11, 216, 55); */
    display: flex;
    gap: 10px;
    font-size: 1rem;
    padding-left: 780px;
    margin-top: 50px;
}

.container .subscribe-btn{
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
}


.hero .banner{
    /* border: 1px solid red; */
    width: 550px;
    height: 100px;
    margin-top: 540px;
    margin-left: 680px;
    margin-bottom: -40px;
}